body{
    margin: 0;
    background-color: #E5E5E9;;
}
#phone{
    width: 100%;
    height: 49px;
}   

#time{
    font-size: 16px;
    width: 45%;
    height: 25px;
    float: left;
    padding-left: 21px;
    padding-top: 14px;
}

#icon{
    float: right;
    width: 45%;
    padding-top: 20.67px;
    padding-bottom: 17.67px;
    padding-right: 15px;

}

#wifi_img{
    float: right;
    float: top;
    margin-top: 0px;
}

#logo_area{
    width: 100%;
    height: 65px;
}

#settings{
    /* margin-left: 5px; */
    width: 10%;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
   
#message{
    /* float: right;
    margin-right: 5px; */
    width: 10%;
    float: left;
    margin-top: 7px;
    float: right;
}

#instagram{
    /* padding-left: 140px; */
    width: 50%;
    float: left;
    margin-top: 0px;
    margin-left: 75px;
}

#msg_img{
    float: right;
    margin-right: 20px;
}

#stng_img{
    
    /* margin-left: 5px; */
}

#post_area{
    width: 353px;
    height: 690px;
    background-color: #FFFFFF;
    margin-left: 25px;
    border-radius: 33px;
}

#post_area2{
    width: 353px;
    height: 650px;
    background-color: #FFFFFF;
    margin-left: 25px;
    border-radius: 33px;
}

#post_area3{
    width: 100%;
    height: 630px;
}

#post_area4{
    width: 100%;
    height: 630px;
}

#post_area5{
    width: 100%;
    height: 630px;
}

#post1{
    width: 120%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

#pp{
    border-radius: 50%;
    margin-top: 12px;
    /* float: left; */
}

#post1{
    width: 100%;
    height: 55px;
}

#post_pp{
    float: left;
    width: 35px;
    margin-left: 14px;
}

#user_info{
    float: left;
    margin-top: 12px;
    margin-left: 30px;
    width: 110px;
}
#user_name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: rgb(var(--ig-secondary-button));;
}

#location{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgb(var(--ig-primary-text));
}

#info{
    width: 33px;
    float: left;
    margin-left: 82px;
    margin-right: 30px;
    margin-top: 15px;
}

#ucnokta{
    margin-right: 15px;
}

/* #story_area{
    width: 200%;
    height: 100px;
    float: left;
}

#mystory{
    float: left;
    width: 100px;
    height: 75px;
    margin-left: 20px;
}

#arti{
    border: 22px salmon;
    margin-left: 15px;
    border-radius: 50%;
    border-color: blue;
}

#myself{
    position: absolute;
    margin-right: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
} */
*.story-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.story-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ebebe4;
    height: 140px;
}
img{
    pointer-events: none
}

.story-container ul{
    list-style-type: none;
    user-select: none;
    display: flex;
    overflow-y: auto;
    padding: 20px 0  
} 

.story-container ul li{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.story-container ul li:first-child{
    padding-left: 30px
}

.story-container ul li:last-child{
    padding-right: 30px
}

.story-container ul li .story{
    width: 71px;
    height: 70px;
    border: 4px solid;
    border-top-color:#f09433;
    border-left-color:#e6683c ;
    border-bottom-color: #dc2743;
    border-right-color: #bc1888;
    border-radius: 28px;
    position: relative;

}

.story-container ul li.has-story .story{
    padding: 2px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.story-container ul li .story img{
    /* padding: 4px; */
    background-color: 0;   
    
    border: 3.5px solid white;
    position: relative;
    border-radius: 24px;
    width: 63px;
    height: 65px;

    
}

.story-container ul li span{
    color: white
    font-weight: 300;
    font-size: 15px;
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
}
#polat{
    margin-left: 8px;
    font-size: 15px;
}
#cakir{
    margin-left: 5px;
    font-size: 15px;
}
#memati{
    margin-left: 9px;
    font-size: 15px;
}
#abdulhey{
    margin-left: 8px;
    font-size: 15px;
}
#halo{
    margin-left: 11px;
    font-size: 15px;
}
#ziya{
    margin-left: 8px;
    font-size: 15px;
}
#nevzat{
    margin-left: 8px;
    font-size: 15px;
}
::-webkit-scrollbar {
    background-color: transparent;
}
/* #post{
    width: 82%;
    height: 400;
    
} */

#tarik{
    margin-top: 3px;
    width: 87%;
    margin-left: 28px;
    border-radius: 18px;
    outline: none;
}

#like_area{
    width: 353px;
    height: 50px;
    margin-top: 8px;
}

#likeimg{
    width: 30px;
    height: 40px;
    float: left;
    margin-left: 33px;
}

#likesayi{
    width: 30px;
    margin-top: 2px;
    float: left;
    width: 35px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

#commentimg{
    width: 30px;
    height: 40px;
    float: left;
    margin-left: 27px;
}
#like{
    height: 100%;
    width: 98px;
    float: left;
}

#comment{
    height: 100%;
    width: 98px;
    float: left;
}

#share{
    height: 100%;
    width: 40px;
    float: left;
}



#save{
    height: 100%;
    width: 40px;
    float: left;
    margin-top: 6px;
    margin-left: 77px;
}

#commentsayi{
    width: 30px;
    margin-top: 2px;
    margin-left: 5px;
    float: left;
    width: 35px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}


#shareimg{
    width: 30px;
    height: 40px;
    float: left;
    margin-left: 20px;
}

#saveimg{
    width: 30px;
    height: 40px;
    float: left;
    margin-left: 33px;
    float: right;
    margin-right: 31px;
}



.liked ul{
    list-style-type: none;
    margin-top: 5px;
    display: flex;
    padding: 0;
} 

.liked ul li{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


#personimg{
    box-sizing: border-box;
    position: absolute;
    width: 27px;
    height: 27px;
    background: url(image);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

#personimg2{
    margin-left: 18px; 
    box-sizing: border-box;
    position: absolute;
    width: 27px;
    height: 27px;
    background: url(image);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

#personimg3{
    margin-left: 37px; 
    box-sizing: border-box;
    position: absolute;
    width: 27px;
    height: 27px;
    background: url(image);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.liked ul li:first-child{
    margin-left: 33px
}

.begen{
    width: 353px;
    height: 50px;
}

.liked{
width: 30%;
height: 40px;
float: left;
}

.kisi{
    width: 38%;
    height: 40px;
    float: left;
    padding-top: 8px;
    padding-left: 0px;    
}
.begendi{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.more{
    width: 19%;
    height: 40px;
    float: left;
    margin-top: 6px;
    margin-left: 40px;
    
}
.buttonmore{
    font-size: 12px;
    width: 43px;
    height: 25px;
    left: 299px;
    top: 635px;
    outline-style: none;
    outline-color: #e5e8e8;
    background: #e5e8e8;
    border-radius: 16.5px;
}
.yorumlar{
    width: 100%;
    height: 50px;
}

.yorum{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 27px;
}

.footer{
    width: 100%;
    height: 96px;
    background: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
}


.home{
    float: left;
    margin-left: 37px;
    margin-top: 25px;
}

.search{
    float: left;
    margin-left: 49.77px;
    margin-top: 25px;
}

.add{
    float: left;
    margin-left: 49.54px;
    margin-top: 25px;
}

.hearth{
    float: left;
    margin-left: 49.88px;
    margin-top: 18px;
}

.profile{
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

ul.options{
    width: 100%;
    height: 100%;
   
}

ul.options li{
    display: inline;
    cursor: pointer;
}

.line{
    margin-top: 25px;
    margin-left: 139px;
}

.end{
    /* width: 100%;
    height: 110px; */
    width: 100%;
    height: 96px;
    background: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
}

 /* search.css */
#search_phone{
    position: absolute;
    width: 414px;
    height: 96px;
    left: 0px;
    top: 0px;
    background-color: white;
    border-radius: 0px 0px 38px 38px;
} 

#search_time{
    font-size: 16px;
    width: 45%;
    height: 25px;
    float: left;
    padding-left: 21px;
    padding-top: 14px;
}

#search_wifi_img{
    float: right;
    float: top;
    margin-top: 0px;
}

.search_btn{
    position: absolute;
    width: 338px;
    height: 42px;
    left: 17px;
    top: 42px;
    background: #EAEEF1;
    border-radius: 19px;
}

.scan_img{
    position: absolute;
    left: 368px;
    right: 5.25%;
    top: 53px;
    bottom: 91.87%;
}
.search_img{
    position: absolute;
    left: 77.29%;
    right: 18.6%;
    top: 53px;
    bottom: 92.03%;
}

.reels{
    position: absolute;
    width: 89px;
    height: 44px;
    left: 14px;
    top: 117px;
    background: white;
    border-radius: 21px;
}

.reels_img{
    position: absolute;
    margin: 11px 57px 12px 11px;
}

.reels_span{
    position: absolute;
    width: 37px;
    height: 15px;
    left: 39px;
    top: 14px;
    right: 13px;
    bottom: 15px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.igtv{
    position: absolute;
    width: 89px;
    height: 44px;
    left: 116px;
    top: 116px;
    background: #FFFFFF;
    border-radius: 21px;
}

.igtv_img{
    position: absolute;
    margin: 11px 53px 10px 13px;
}

.igtv_span{
    position: absolute;
    width: 37px;
    height: 15px;
    left: 37px;
    top: 15px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.store{
    position: absolute;
    width: 89px;
    height: 44px;
    left: 218px;
    top: 117px;
    background: #FFFFFF;
    border-radius: 21px;
}

.store_img{
    position: absolute;
    margin: 12px 54px 13.11px 18px;
}

.store_span{
    position: absolute;
    width: 47px;
    height: 15px;
    left: 36px;
    top: 13px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    
    color: #000000;
}

.game{
    position: absolute;
    width: 89px;
    height: 44px;
    left: 320px;
    top: 116px;
    
    background: #FFFFFF;
    border-radius: 21px;
}

.game_img{
    position: absolute;
    margin: 13px 56px 12px 14px;
}

.game_span{
    position: absolute;
    width: 47px;
    height: 15px;
    left: 35px;
    top: 15px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;    
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.photo1{
    position: absolute;
    width: 186px;
    height: 149px;
    left: 19px;
    top: 182px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo2{
    position: absolute;
    width: 183px;
    height: 319px;
    left: 217px;
    top: 182px;
    background: url(image.png);
    border-radius: 0px 19px 19px 0px;
}

.photo3{
    position: absolute;
    width: 186px;
    height: 158px;
    left: 19px;
    top: 343px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo4{
    position: absolute;
    width: 186px;
    height: 149px;
    left: 19px;
    top: 513px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo5{
    position: absolute;
    width: 183px;
    height: 149px;
    left: 217px;
    top: 513px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.photo6{
    position: absolute;
    width: 186px;
    height: 158px;
    left: 19px;
    top: 674px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo7{
    position: absolute;
    width: 183px;
    height: 158px;
    left: 217px;
    top: 674px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.photox{
    position: absolute;
    width: 183px;
    height: 158px;
    left: 217px;
    top: 845px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.photo9{
    position: absolute;
    width: 183px;
    height: 319px;
    left: 19px;
    top: 845px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo10{
    position: absolute;
    width: 183px;
    height: 158px;
    left: 217px;
    top: 1016px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
    transform: matrix(-1, 0, 0, 1, 0, 0);    
}

.searcha{
    float: left;
    margin-left: 25px;
    margin-top: 12.5px;
}

.homea{
    float: left;
    margin-left: 20px;
    margin-top: 12.5px;
}

.profile_user{
    position: absolute;
    width: 119px;
    height: 15px;
    left: 146px;
    top: 65px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #878D98;
}

#profile_info{
    position: absolute;
    width: 12px;
    height: 7px;
    left: 255px;
    top: 70px;
}

.line1{
    position: absolute;
    width: 29px;
    height: 0px;
    left: 360px;
    top: 65px;
    border: 2.5px solid #878D98;
    transform: rotate(-180deg);
}

.line2{
    position: absolute;
    width: 17px;
    height: 0px;
    left: 372px;
    top: 75px;
    
    border: 2.5px solid #878D98;
    transform: rotate(-180deg);
}
.profile_pp{
    width: 71px;
    height: 70px;
    border: 5px solid;
    border-top-color:#f09433;
    border-left-color:#e6683c ;
    border-bottom-color: #dc2743;
    border-right-color: #bc1888;
    border-radius: 28px;
    /* padding: 1px; */
    position: absolute;
    left: 170px;
    top: 100px;
}
.prf_pp{
    background-color: 0;   /*ayarlanabilir */
    border: 3px solid white;
    position: relative;
    border-radius: 24px;
    margin-left: 1px;
    width: 63px;
    height: 65px;
}

.followers_sayi{
    position: absolute;
    width: 47px;
    height: 15px;
    left: 102px;
    top: 120px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.following_sayi{
    position: absolute;
    width: 47px;
    height: 15px;
    left: 260px;
    top: 120px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.followers{
    position: absolute;
    width: 119px;
    height: 15px;
    left: 63px;
    top: 140px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.3px;
    color: #878D98;    
}

.following{
    position: absolute;
    width: 119px;
    height: 15px;
    left: 240px;
    top: 140px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.3px;
    
    color: #878D98;
}

.plus_img{
    position: absolute;
width: 22px;
height: 22px;
left: 200px;
top: 165px;
}

.profile_name{
    position: absolute;
    width: 79px;
    height: 15px;
    left: 119px;
    top: 195px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    
    color: #000000;
}

.profile_job{
    position: absolute;
    width: 86px;
    height: 15px;
    left: 219px;
    top: 196px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.hr{
    position: absolute;
    width: 18px;
    height: 0px;
    left: 203px;
    top: 205px;
    background-color: #878D98;
    border: 1px solid #878D98;
    transform: rotate(90deg);
}

.edit_prf{
    position: absolute;
    width: 113px;
    height: 38px;
    left: 21px;
    top: 254px;
    border-color: #EAEEF1;
    border-bottom-color: #FFFFFF;
    background: #EAEEF1;
    border-radius: 13px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 13px;
line-height: 18px;
text-align: center;
letter-spacing: -0.3px;

color: #040303;
}

.statistics{
    position: absolute;
    width: 114px;
    height: 38px;
    left: 154px;
    top: 253px;
    border-color: #EAEEF1;
    background: #EAEEF1;
    border-radius: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #040303;
}

.contact{
    position: absolute;
    width: 113px;
    height: 38px;
    left: 284px;
    top: 253px;
    border-color: #50AAFF;
    background: #50AAFF;
    border-radius: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.prf_plus{
    box-sizing: border-box;

    position: absolute;
    width: 60px;
    height: 60px;
    left: 21px;
    top: 311.19px;
    border-radius: 12px;
    background: url(image.png);
    border: 0.1px solid #878D98;
}

.prf_plus span{
    margin-left: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
}

.prf_pp0{
    box-sizing: border-box;

    position: absolute;
    width: 60px;
    height: 60px;
    left: 93.14px;
    top: 311.19px;
    border-radius: 12px;
    background: url(image.png);
    border: 0.1px solid #878D98;
}

.prf_pp1{
    box-sizing: border-box;

    position: absolute;
    width: 60px;
    height: 60px;
    left: 171.56px;
    top: 311.19px;
    border-radius: 12px;
    background: url(image.png);
    border: 0.1px solid #878D98;
}