body{
    margin: 0;
    background-color: #E5E5E9;;
    width: 100%;
}
#phone{
    width: 100%;
    height: 29px;
    display: flex;
}

#time{
    font-size: 16px;
    width: 45%;
    height: 25px;
    display: flex;
    align-items: center;
    /* float: left; */
    /* padding-left: 21px;
    padding-top: 14px; */
}

#icon{
    /* float: right; */
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-top: 20.67px;
    padding-bottom: 17.67px;
    padding-right: 15px; */

}

#wifi_img{

    margin-top: 0px;
}

#logo_area{
    width: 100%;
    height: 65px;
    display: flex;
}

#settings{
    /* margin-left: 5px; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}

#post_area{
    width: 90%;
    margin-left: 20px;
    height: 690px;
    background-color: #FFFFFF;
    border-radius: 33px;
}

#post_area2{
    width: 90%;
    margin-left: 20px;
    height: 690px;
    background-color: #FFFFFF;
    border-radius: 33px;
}

#post_area3{
    width: 100%;
    height: 105px;
}

#post_area4{
    width: 100%;
    height: 630px;
}

#post_area5{
    width: 100%;
    height: 630px;
}

#post1{
    width: 120%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

#pp{
    border-radius: 50%;
    margin-top: 12px;
    /* float: left; */
}

#post1{
    width: 100%;
    height: 70px;
    display: flex;
}

#post_pp{
    width: %30;
    display: flex;
    justify-content: center;
}

#user_info{
    padding-top: 15px;
    width: 40%;
    height: 55px;
    margin-left: 15px;
}
#user_name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: rgb(var(--ig-secondary-button));;
}

#location{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgb(var(--ig-primary-text));
}

#info{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#ucnokta{

}

*.story-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.story-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ebebe4;
    width: 100%;
    height: 140px;
    overflow: auto;
}
img{
    pointer-events: none
}

.story-container ul{
    width: 100%;
    margin: 0;
    /* list-style-type: none;
    user-select: none; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.story-container ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
}


.story-container ul li .story{
    width: 71px;
    height: 70px;
    border: 4px solid;
    border-top-color:#f09433;
    border-left-color:#e6683c ;
    border-bottom-color: #dc2743;
    border-right-color: #bc1888;
    border-radius: 28px;
    position: relative;

}

.story-container ul li.has-story .story{
    padding: 2px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.story-container ul li .story img{
    /* padding: 4px; */
    background-color: 0;
    border: 3.5px solid white;
    position: relative;
    border-radius: 24px;
    width: 63px;
    height: 65px;
}

.story-container ul li span{
    color: white
    font-weight: 300;
    font-size: 15px;
    max-width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
        margin-top: 15px;
}
#polat{
    margin-left: 8px;
    font-size: 15px;
}
#cakir{
    margin-left: 5px;
    font-size: 15px;
}
#memati{
    margin-left: 9px;
    font-size: 15px;
}
#abdulhey{
    margin-left: 8px;
    font-size: 15px;
}
#halo{
    margin-left: 11px;
    font-size: 15px;
}
#ziya{
    margin-left: 8px;
    font-size: 15px;
}
#nevzat{
    margin-left: 8px;
    font-size: 15px;
}
::-webkit-scrollbar {
    background-color: transparent;
}
/* #post{
    width: 82%;
    height: 400;

} */

#tarik{
    margin-top: 3px;
    width: 87%;
    margin-left: 28px;
    border-radius: 18px;
    outline: none;
}

#like_area{
    width: 353px;
    height: 50px;
    margin-top: 8px;
}

#likeimg{
    width: 30px;
    height: 40px;
    float: left;
    margin-left: 33px;
}

#likesayi{
    width: 30px;
    margin-top: 2px;
    float: left;
    width: 35px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

#commentimg{
    width: 30px;
    height: 40px;
    float: left;
    margin-left: 27px;
}
#like{
    height: 100%;
    width: 98px;
    float: left;
}

#comment{
    height: 100%;
    width: 98px;
    float: left;
}

#share{
    height: 100%;
    width: 40px;
    float: left;
}



#save{
    height: 100%;
    width: 40px;
    float: left;
    margin-top: 6px;
    margin-left: 77px;
}

#commentsayi{
    width: 30px;
    margin-top: 2px;
    margin-left: 5px;
    float: left;
    width: 35px;
    height: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}


#shareimg{
    width: 30px;
    height: 40px;
    float: left;
    margin-left: 20px;
}

#saveimg{
    width: 30px;
    height: 40px;
    float: left;
    margin-left: 33px;
    float: right;
    margin-right: 31px;
}


.liked ul{
    list-style-type: none;
    margin-top: 5px;
    display: flex;
    padding: 0;
}

.liked ul li{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


#personimg{
    box-sizing: border-box;
    position: absolute;
    width: 27px;
    height: 27px;
    background: url(image);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

#personimg2{
    margin-left: 18px;
    box-sizing: border-box;
    position: absolute;
    width: 27px;
    height: 27px;
    background: url(image);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

#personimg3{
    margin-left: 37px;
    box-sizing: border-box;
    position: absolute;
    width: 27px;
    height: 27px;
    background: url(image);
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.liked ul li:first-child{
    margin-left: 33px
}

.begen{
    width: 353px;
    height: 65px;
}

.liked{
width: 30%;
height: 40px;
float: left;
}

.kisi{
    width: 38%;
    height: 40px;
    float: left;
    padding-top: 8px;
    padding-left: 0px;
}
.begendi{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.more{
    width: 19%;
    height: 40px;
    float: left;
    margin-top: 6px;
    margin-left: 40px;

}
.buttonmore{
    font-size: 14px;
    width: 70%;
    top: 635px;
    outline-style: none;
    outline-color: #e5e8e8;
    background: #e5e8e8;
    border-radius: 16.5px;
    text-align: center;
    border: none;
    cursor: pointer;


}
.yorumlar{
    width: 100%;
    height: 50px;
}

.yorum{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 27px;
}

.footer{
    width: 100%;
    height: 96px;
    background: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
    position: fixed;
    left: 0;
    bottom: 0;
}


.home{

    margin-left: 37px;
    margin-top: 25px;
}

.search{

    margin-left: 49.77px;
    margin-top: 25px;
}

.add{

    margin-left: 49.54px;
    margin-top: 25px;
}

.hearth{

    margin-left: 49.88px;
    margin-top: 18px;
}

.profile{

    margin-left: 50px;
    margin-top: 25px;
}

ul.options{
    width: 100%;
    height: calc(100%-5px);
    display: flex;
    justify-content: space-around;
    padding: 0;
}

ul.options li{
    display: inline;
    cursor: pointer;
}

.line{
    margin-left: 139px;
}

.end{
    /* width: 100%;
    height: 110px; */
    width: 100%;
    height: 96px;
    background: #FFFFFF;
    border-radius: 40px 40px 0px 0px;
}

 /* search.css */
#search_phone{
    display: flex;
    width: 100%;
    height: 96px;
    left: 0px;
    top: 0px;
    background-color: white;
    border-radius: 0px 0px 38px 38px;
}

#search_time{
    font-size: 16px;
    width: 45%;
    height: 30%;
    display: flex;
    align-items: center;
}

#search_icon{
    width: 55%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#search_wifi_img{
    float: right;
    float: top;
    margin-top: 0px;
}



.search_btn{
    position: absolute;
    width: 80%;
    height: 42px;
    left: 5%;
    top: 42px;
    background: #EAEEF1;
    border-radius: 19px;
}

.scan_img{
    position: absolute;
    right: 6%;
    top: 53px;
    bottom: 91.87%;
}
.search_img{
    position: absolute;
    left: 77.29%;
    right: 18.6%;
    top: 53px;
    bottom: 92.03%;
}

.search_tags{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.reels{
    display: flex;
    width: 21%;
    height: 90%;
    background: white;
    border-radius: 21px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.reels_img{
    display: flex;
}

.reels_span{
    width: 29%;
    height: 33%;
    display: flex;
    margin-left: 5%;
    margin-top: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.igtv{
    display: flex;
    width: 21%;
    height: 90%;
    background: white;
    border-radius: 21px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.igtv_img{
    display: flex;
}

.igtv_span{
    width: 29%;
    height: 33%;
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}   


.store{
    display: flex;
    width: 20%;
    height: 90%;
    background: white;
    border-radius: 21px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.store_img{
    display: flex;

}

.store_span{
    width: 29%;
    height: 33%;
    display: flex;
    margin-left: 5%;
    margin-top: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.game{
    display: flex;
    width: 22%;
    height: 90%;
    background: white;
    border-radius: 21px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.game_img{
    display: flex;


}

.game_span{
    width: 29%;
    height: 33%;
    display: flex;
    margin-left: 5%;
    margin-top: 1%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.searchphoto{
    width: 100%;
    height: 900px;
}

.photo1{
    position: absolute;
    width: 45.146%;
    height: 149px;
    left: 4.8%;
    top: 182px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo2{
    position: absolute;
    width: 44.420%;
    height: 319px;
    left: 52%;
    top: 182px;
    background: url(image.png);
    border-radius: 0px 19px 19px 0px;
}

.photo3{
    position: absolute;
    width: 45.146%;
    height: 158px;
    left: 4.8%;
    top: 343px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo4{
    position: absolute;
    width: 45.146%;
    height: 149px;
    left: 4.8%;
    top: 513px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo5{
    position: absolute;
    width: 44.420%;
    height: 149px;
    left: 52%;
    top: 513px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.photo6{
    position: absolute;
    width: 45.146%;
    height: 158px;
    left: 4.8%;
    top: 674px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo7{
    position: absolute;
    width: 44.420%;
    height: 158px;
    left: 52%;
    top: 674px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.photox{
    position: absolute;
    width: 44.420%;
    height: 158px;
    left: 52%;
    top: 845px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.photo9{
    position: absolute;
    width: 44.420%;
    height: 330px;
    left: 4.8%;
    top: 845px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
}

.photo10{
    position: absolute;
    width: 44.420%;
    height: 158px;
    left: 52%;
    top: 1016px;
    background: url(image.png);
    border-radius: 19px 0px 0px 19px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.searcha{
    float: left;
    margin-left: 25px;
    margin-top: 12.5px;
}

.homea{
    float: left;
    margin-left: 20px;
    margin-top: 12.5px;
}

.profile_alan{
    width: 100;
    height: 90px;
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

.profile_pp{

    width: 71px;
    height: 70px;
    border: 5px solid;
    border-top-color:#f09433;
    border-left-color:#e6683c ;
    border-bottom-color: #dc2743;
    border-right-color: #bc1888;
    border-radius: 28px;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
   
}
.prf_pp{
    display: flex;
    background-color: 0;   /*ayarlanabilir */
    border: 3px solid white;
    border-radius: 24px;
    margin-left: 0px;
    width: 63px;
    height: 65px;
}

.takipci{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.takipedilen{
    position: relative;
    left: px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center; 
}

.followers_sayi{
    position: relative;
    left: 55%;
    width: 1%;
    height: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.following_sayi{
    position: relative;
    left: 7%;
    width: 1%;
    height: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.followers{
    position: relative;
    width: 119px;
    height: 15px;
    top: 5px;
    left: 22%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.3px;
    color: #878D98;
}

.following{
    position: relative;
    width: 119px;
    height: 15px;
    top: 5px;
    right: 25%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.3px;
    color: #878D98;
}


.plus_img{
    width: 25px;
    height: 25px;
    position: relative;
    right: 62%;
    top: 18%;
}

.yaziprofil_alan{
    width: 100;
    height: 90px;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profilalan{
    height: 90px;
    width: 52%;
    position: relative;
    left: 25%;
}

.profile_name{
    position: relative;
    top: 15%;
    right: 15%;
    width: 25%;
    height: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.profile_job{
    position: relative;
    bottom: 13%;
    left: 13%;
    width: 25%;
    height: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.hr{
    position: relative;
    width: 3%;
    height: 0px;
    background-color: #878D98;
    border: 1px solid #878D98;
    transform: rotate(90deg);
}

.profile_vadi{
    width: 325px;
    height: 37px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #878D98;
}

.profilbtn{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.edit_prf{
    width: 28%;
    height: 38px;
    border-color: #EAEEF1;
    border-bottom-color: #FFFFFF;
    background: #EAEEF1;
    border-radius: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #040303;
}

.statistics{
    width: 28%;
    height: 38px;
    border-color: #EAEEF1;
    background: #EAEEF1;
    border-radius: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #040303;
}

.contact{
    width: 28%;
    height: 38px;
    border-color: #50AAFF;
    background: #50AAFF;
    border-radius: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #FFFFFF;
}

.profilstory{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.prf_plus{
    box-sizing: border-box;
    width: 14.565%;
    height: 75%;
    border-radius: 12px;
    background: url(image.png);
    border: 0.1px solid #878D98;
}

.prf_plus span{
    margin-left: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.prf_pp0{
    box-sizing: border-box;

    width: 14.565%;
    height: 60px;
    border-radius: 25px;
    background: url(image.png);
    border: 0.1px solid #878D98;
}

.prf_pp1{
    box-sizing: border-box;
    width: 14.565%;
    height: 60px;
    border-radius: 25px;
    background: url(image.png);
    border: 0.1px solid #878D98;
}

.prf_pp2{
    box-sizing: border-box;
    width: 14.565%;
    height: 60px;
    border-radius: 25px;
    background: url(image.png);
    border: 0.1px solid #878D98;
}

.prf_pp3{
    box-sizing: border-box;
    width: 14.565%;
    height: 60px;
    border-radius: 25px;
    background: url(image.png);
    border: 0.1px solid #878D98;
}


.img_prf{
    width: 100%;
    height: 100%;
    background: url(image);
    border-radius: 18px;
}

.hikaye{
    position: relative;
    top: 17px;
    width: 25%;
    height: 15.47px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.irak{
    position: relative;
    width: 50.54px;
    height: 15.47px;
    left: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.filistin{
    position: relative;
    left: 7px;
    width: 50.54px;
    height: 15.47px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.gladio{
    position: relative;
    left: 8px;
    width: 50.54px;
    height: 15.47px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

.vatan{
    position: relative;
    left: 10px;
    width: 50.54px;
    height: 15.47px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #000000;
}

#profile_icons{
    position: relative;
    top: 15px;
    width: 100%;
    height: 50px;
}

ul.iconprf{
    width: 100%;
    height: calc(100%-5px);
    display: flex;
    justify-content: space-around;
    padding: 0;
}

ul.iconprf li{
    display: inline;
    cursor: pointer;
}

.profilepost{
    width: 100%;
    position: relative;
    top: 10px;
    height: 500px;
}

.konsey{
    position: relative;
    width: 58.253%;
    height: 48.4%;
    left: 10px;
    top: 0px;
    background: url(image.png);
    border-radius: 16px 0px 0px 0px;
}

.dogu{
    position: absolute;
    width: 35.195%;
    height: 23.4%;
    left: 62%;
    top: 0px;
    background: url(image.png);
    border-radius: 0px 16px 0px 0px;
}

.aslan{
    position: absolute;
    width: 35.195%;
    height: 23.4%;
    left: 62%;
    top: 25%;
    background: url(image.png);
    border-radius: 0px 16px 0px 0px;
}
.kumar{
    position: absolute;
    width: 28.4%;
    height: 23.4%;
    left: 1%;
    top: 252px;
    background: url(image.png);
    border-radius: 16px 0px 0px 0px;
}

.cakirmemati{
    position: absolute;
    width: 28.4%;
    height: 23.4%;
    left: 30.7%;
    top: 252px;
    background: url(image.png);
}

.polatkumar{
    position: absolute;
    width: 35.195%;
    height: 23.4%;
    left: 62%;
    top: 252px;
    background: url(image.png);
    border-radius: 0px 16px 0px 0px;
}
#settingsprfl{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
#vadigramprfl{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#profile_line{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
}

.line1{
    margin-right: 25%;
    display: flex;
    width: 29px;
    height: 0px;
    border: 2.5px solid #878D98;
    transform: rotate(-180deg);
}

.line2{
    margin-right: 25%;
    display: flex;
    width: 17px;
    height: 0px;
    margin-top: 2%;

    border: 2.5px solid #878D98;
    transform: rotate(-180deg);
}

.profile_user{
 
    width: 65%;
    height: 20%;
    margin-left: 15%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #878D98;
}

#profile_info{
    width: 8%;
    height: 20%;
    margin-right: 22%;
}

